@import './reset.css';

:root[data-theme='light'] {
    --color-bg: #f5f4f8;
    --color-bg-secondary: #efefef;
    --color-secondary: #EFEEF5;
    --color-accent: #a1bca9;
    --color-text: #1f1d28;
    --color-placeholder: rgba(31, 29, 40, 0.7);
    --color-card-text: #2c2c44;
    --color-border: gray;
}

:root[data-theme='dark'] {
    --color-bg: #16151d;
    --color-bg-secondary: #1f1d28;
    --color-secondary: #1f1d28;
    --color-accent: #a1bca9;
    --color-text: #ffffff;
    --color-placeholder: rgba(255, 255, 255, 0.4);
    --color-card-text: #2c2c44;
    --color-border: gray;
}

/*? Стандартные настройки приложения */

html {
    font-size: clamp(12px, 0.7vw + 10px, 16px);
}

body {
    font-size: 1rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition:
        background-color 0.25s ease,
        color 0.25s ease;
}

* {
    transition:
        color 0.25s ease,
        background-color 0.25s ease,
        border-color 0.25s ease;
}
