@import './reset.css';

:root {
    --el-color-primary: var(--color-accent) !important;
    --el-color-danger: var(--color-danger) !important;

    --el-font-family: 'Inter', sans-serif !important;
}

:root[data-theme='light'] {
    --el-bg-color: var(--color-bg);
    --el-bg-color-overlay: var(--color-bg-secondary);
    --el-text-color-primary: var(--color-text);
    --el-border-color-light: var(--color-border);
}

:root[data-theme='dark'] {
    --el-bg-color: var(--color-bg);
    --el-bg-color-overlay: var(--color-bg-secondary);
    --el-text-color-primary: var(--color-text);
    --el-border-color-light: var(--color-border);
}

:root {
    --color-border: gray;
    --color-danger: red;
    --color-card-text: #2c2c44;
}

:root[data-theme='light'] {
    --color-bg: #f5f4f8;
    --color-bg-secondary: #efefef;
    --color-secondary: #efeef5;
    --color-accent: #a1bca9;
    --color-text: #1f1d28;
    --color-placeholder: rgba(31, 29, 40, 0.7);
}

:root[data-theme='dark'] {
    --color-bg: #16151d;
    --color-bg-secondary: #1f1d28;
    --color-secondary: #1f1d28;
    --color-accent: #a1bca9;
    --color-text: #ffffff;
    --color-placeholder: rgba(255, 255, 255, 0.4);
}

/*? Стандартные настройки приложения */

html {
    font-size: clamp(12px, 0.7vw + 10px, 16px);
    scrollbar-color: var(--color-accent) var(--color-bg);
}

body {
    font-size: 1rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition:
        background-color 0.25s ease,
        color 0.25s ease;
}

* {
    transition:
        color 0.25s ease,
        background-color 0.25s ease,
        border-color 0.25s ease;
}
